<!--<?xml version="1.0" encoding="utf-8" ?>-->
<!--<!DOCTYPE mapper-->
<!--        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="czw.mapper.MenuMapper">-->
<!--    <resultMap id="BaseResultMap" type="czw.model.Menu">-->
<!--        <id property="id" column="id"></id>-->
<!--        <result property="pattern" column="pattern"></result>-->
<!--        <collection property="roles" ofType="czw.model.Role">-->
<!--            <id property="id" column="rid"></id>-->
<!--            <result property="name" column="rname"></result>-->
<!--            <result property="nameZh" column="rnameZh"></result>-->
<!--        </collection>-->
<!--    </resultMap>-->

<!--    <select id="getAllMenus" resultType="BaseResultMap">-->
<!--        select m.*,r.id AS rid, r.name AS rname, r.nameZh AS rnameZh  from menu m LEFT JOIN menu_role mr ON m.`id`=mr.`mid` LEFT JOIN role r ON mr.`rid`=r.`id`-->
<!--    </select>-->
<!--</mapper>-->